<p style="color:#000; margin-top:5px; font-size:17px;">
    {{app.user.gender == 1 ? "Cher" : "Chère"}} {{app.user.firstName}}, <br><br>
    Utilisez le code ci-après pour la vérification de votre adresse émail : <br><br>
    <strong style="display:block;background:#000; color: #fff;padding:10px; text-align:center;">{{code}}</strong><br><br>
    <br />
    <i>Cordialement,</i><br />
    Lahotte
</p>